.accordion {
    max-width: 600px;
    margin: 2rem auto;
  }
  
  .accordion-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    background-color: #dce1e2;
  }
  
  .accordion-title:hover {
    background-color: #bcbfc0;
  }
  
  .accordion-title,
  .accordion-content {
    padding: 1rem;
  }
  
  .accordion-content {
    background-color: #ebebeb;
  }
  
  @media screen and (max-width: 700px) {
 
    .accordion {
      width: 90%;
    }
  }